.stopwatch {
  width: 400px;
  margin: auto;
}

.display {
  font-size: 50px;
  background-color: pink;
  text-align: center;
}

.display > span {
  display: inline-block;
  width: 60px;
}
.buttons {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.startBtn,
.lapBtn,
.resetBtn {
  text-align: center;
  font-size: 30px;
  width: 130px;
}

.laps {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.lap-title,
.lap-index,
.lap-time {
  font-size: 25px;
  width: 200px;
}
